body {
  font-family: Arial;
  margin: 0px;
  background-color: rgba(1, 2, 24, 0.993);
}

#sidebar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  float: left;
}

.container {
  display: flex;
  height: 100vh;
  background: #ffffff;
  width: 300px;
  flex-direction: column;
  align-self: center;
  padding-top: 80px;
}

.openContainer {
  display: none;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

#abrir-sidebar {
  background-color: #ffffff;
  border: none;
  padding: 5px;
}
