body {
    font-family: Arial;
    margin: 0px;
  }
  
  #sidebar {
      display:flex;
      flex-direction: row;
      align-items:flex-start;
      float: left;
  }
  
  .container {
      display: flex;
      height: 100%;
      background: #ccc;
      width: 300px;
      flex-direction: column;
      align-self: center;
  }
  
  .info {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: row;
  }
  
  #abrir-sidebar {
      background-color: #ccc;
      border: none;
      padding: 6px;
  }
